/* ==========================================================================
   Text Radio Buttons
   ========================================================================== */
.text_radio_button_control:after {
    content: " ";
    display: block;
    clear: both;
}
.text_radio_button_control .radio-buttons {
    display: inline-block;
    border: 1px solid #f9f9fe;
}
.text_radio_button_control .radio-button-label {
    cursor: pointer;
    float: left;
}
.text_radio_button_control .radio-button-label > input {
    display: none;
}
.text_radio_button_control .radio-button-label span {
    cursor: pointer;
    font-weight: 500;
    border: 2px solid #f9f9fe;
    margin: 0;
    background-color: #eee;
    padding: 5px 15px;
    display: inline-block;
}
.text_radio_button_control .radio-button-label span:hover {
    background-color: rgba(255, 255, 255, .2);
    color: #2885bb;
}
.text_radio_button_control .radio-button-label > input:checked + span {
    background-color: #f9f9fe;
}
.text_radio_button_control .radio-button-label > input:checked + span:hover {
    color: #555d66;
}
